@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono", monospace;
}
/* banner section here */
.img{
    margin: 24px 31px 24px 31px;
}
.banner-container{
    width: 100%;
    height: 652px;
    margin: 120px auto;
    background-image: url(assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-dis{
    padding: 30px 200px;
}
.banner-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.main-heading{
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    color: rgb (13,19,33);
}
.sub-heading{
    font-weight: 400;
    font-size: 15px;
    color: rgb(13, 19, 33);
    text-align: center;
    margin-top: 10px;
}
.btn{
    background-color: rgb(13, 19, 33);
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 21px 24px;
    border: none;
    border-radius: 8px;
    margin-top: 40px;
}
/* My-Container section here */
.main-container{
    border: none;
    width: 940px;
    height: 1280px;
    margin: 75px auto;
    padding: 80px, 97px, 80px, 97 ;
    border-radius: 16px;
    background-color: rgb(248, 247, 245);
} 
.dis-containe{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.main-title{
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    margin: 20px;
}
.sub-title{
    font-weight: 100;
    font-size: 15px;
    text-align: center;
}
.style-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px ;
    height: 330px;
    background-color: aliceblue;
    margin-top: 20px;
}
.style-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px ;
    height: 330px;
    background-color: aliceblue;
    margin-top: 20px;
}
.style-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px ;
    height: 310px;
    background-color: aliceblue;
    margin-top: 20px;
}
h3{
    font-weight: 700;
    font-size: 24px;
}
p  {
    font-weight: 400;
    font-size: 15px;
}
.learn-btn{
    width: 150px;
    height: 48px;
    padding: 12px, 20px, 12px, 20px ;
}
.inspiration{
    text-align: center;
}
.inspiration-heading{
    font-weight: 800;
    font-size: 32px;
}
.inspiration-title{
    font-weight: 400;
    font-size: 15px;
}
.target-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.target-html{
    width: 300px;
    height: 270px;
    border-radius: 16px;
    padding-top: 30px;
    padding-left: 30px;
    background-color: rgb(247, 236, 238);
}
.target-css{
    width: 300px;
    height: 270px;
    border-radius: 16px;
    padding-top: 30px;
    padding-left: 30px;
    background-color: rgb(226, 226, 237);
}
.target-js{
    width: 300px;
    height: 270px;
    border-radius: 16px;
    padding-top: 30px;
    padding-left: 30px;
    background-color: rgb(243, 243, 206);
}
.link{
    color: black;
    font-weight: bold;
}
.saport-container{
    width: 940px;
    height: 390px ;
    margin: 0 auto;
    border-radius: 16px;
    background-image: url(assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.suport-heading{
    font-weight: 700;
    font-size: 32px;
    color:white ;
    text-align: center;
}
.suport-para{
    font-weight: 400;
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
input[type="text"]{
    width: 500px;
    height: 60px;
    padding: 20px;
    border-radius: 8px;
}
input[type="submit"]{
    width: 90px;
    height: 60px;
    font-weight: bold;
    border-radius: 8px;
}
.form-container{
    display: flex;
    justify-content: center;
}